*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url("img/saha.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.button-one {
    text-align: center;
    padding: 10px 20px;
    background-color: #6E6D71;
    color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
